.App {
  text-align: center;
}
body{
  background: #eeecec;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
display: flex;
height: 680px;
width: 330px;
align-items: center;
justify-content: center;
border-radius: 36px;
background: #eeecec;
box-shadow:  19px 19px 37px #d1d0d0,
             -19px -19px 37px #ffffff;
}

.coded{
width:  320px;
height: 30px;
margin-top: 12px;
justify-content: center;
border-radius: 16px;
background: #eeecec;
box-shadow:  19px 19px 26px #d1d0d0,
             -19px -19px 26px #ffffff;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
